.idea
.env.local.php
.env.*.local
.phpunit.result.cache
/var/
/var/log
/vendor/
/node_modules/
.env
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
###< symfony/framework-bundle ###
